data_store/
data/
models/
outputs/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
SimilarExistingSolutions/
cloud/
.tmp/
ui/frontend/node_modules/
ui/frontend/dist/
ui/frontend/*.tsbuildinfo
nexus_packaged/.env.local
nexus_packaged/node_modules/
nexus_packaged/dist/
nexus_packaged/*.tsbuildinfo
nexus_packaged/data/
nexus_packaged/models/
nexus_packaged/outputs/
nexus_packaged/__pycache__/
nexus_packaged/.pytest_cache/
nexus_packaged/.mypy_cache/
nexus_packaged/ui/frontend/node_modules/
nexus_packaged/ui/frontend/dist/
nexus_packaged/ui/frontend/*.tsbuildinfo
nexus_packaged/